/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist';
}
img.blog-img {
    width: 80%;
    padding: 6px 0 12px;
}
.blog-content {
    width: 77%;
}
.nail-idea-item h3 {
    margin: 16px 0 6px;
}

@media (max-width: 768px) {
  img.blog-img {
    width: 100%;
    padding: 6px 0 12px;
}
.blog-content {
    width: 100%;
}
}
.nail-idea-item h3 {
    font-size: 32px;
    font-weight: 500;
}
.nail-idea-item p {
    width: 94%;
    font-weight: 500;
    font-size: 17px;
}
.blog-header h1 {
    width: 80%;
}





